<h1>SecretNumbers#new</h1>
<%= link_to "1", secret_number_path(1) %>
<%= link_to "2", secret_number_path(2) %>
<%= link_to "3", secret_number_path(3) %>
<%= link_to "4", secret_number_path(4) %>
<%= link_to "5", secret_number_path(5) %>
<p>Find me in app/views/secret_numbers/new.html.erb</p>
