<h1>RockPaperScissors#new</h1>
<%= link_to "Home Page", root_path %>
<p><%= @play %></p>
<%= link_to "rock", rock_paper_scissor_path(0, :name => "rock") %>
<%= link_to "paper", rock_paper_scissor_path(1, :name => "paper") %>
<%= link_to "scissor", rock_paper_scissor_path(2, :name => "scissors") %>

<p>Find me in app/views/rock_paper_scissors/new.html.erb</p>
