<%= link_to "Back to games", root_path %>

<center>
	<h1>Can You Guess The Lucky Number?</h1>
	<h3> Choose a number: </h3>
</center>
<center>
	<table>
		<tr>
			<td>
				<%= link_to image_tag("http://tribalcafe.wpengine.netdna-cdn.com/wp-content/uploads/2013/04/the-number-1-content-marketing-report.png"), secret_number_path(1) %>
			</td>
			<td>
				<%= link_to image_tag("http://www.clker.com/cliparts/G/V/k/w/7/Z/two-green-square-rounded-edge-th.png"), secret_number_path(2) %>
			</td>
			<td>
				<%= link_to image_tag("http://www.crescogroup.org/images/subpage-number-3.png"), secret_number_path(3) %>
			</td>
			<td>
				<%= link_to image_tag("http://www.clker.com/cliparts/D/O/j/7/R/6/number-4-th.png"), secret_number_path(4) %>
			</td>
			<td>
				<%= link_to image_tag("http://www.clker.com/cliparts/3/t/6/b/r/v/friday-social-5-th.png"), secret_number_path(5) %>
			</td>
		</tr>
	
</center>

