<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @shirt.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @shirt.show %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shirt.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @shirt.color %>
</p>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
