<table>
	<tr>
		<th>Arist Name</th>
		<th>Artist Photo</th>
		<th>Artist Songs</th>
		<th>Edit Song</th>
	</tr>

	<tr>
		<td><%= @artist.name %></td>
		<td><%= image_tag(@artist.photo, size: '150x150') %></td>
		<td><% @artist.songs.each do |song| %>
			<p>
				<strong>Song:</strong>
				<%= song.name %>
			</p>
			<%= link_to "Edit", edit_artist_song_path(@artist, song)  %>
			<% end %></td>
	</tr>
</table>
	<h2> Add Song </h2>
		<%= form_for([@artist, @artist.songs.build]) do |f| %>
		<p>
			<%= f.label :name %><br>
			<%= f.text_field :name %><br>
		</p>
		<p>
			<%= f.submit %>
		</p>
		<% end %>
	<%= link_to "Index", artists_path %>	

		